/* Menu toggle is using the media queries from the standard, tablet and smalltouch layout settings */
@media only screen and (max-width:1px) {

  .at-mt .at-menu-toggle-button {
    position: static;
    top: 0;
  }
  .at-mt .menu-toggle {
    display: none;
  }
  .at-mt .menu-toggle ul li,
  .at-mt .menu-toggle ul li a {
    display: block;
    float:none;
  }
}
@media only screen and (min-width:2px) and (max-width:3px) {

  .at-mt .at-menu-toggle-button {
    position: static;
    top: 0;
  }
  .at-mt .menu-toggle {
    display: none;
  }
  .at-mt .menu-toggle ul li,
  .at-mt .menu-toggle ul li a {
    display: block;
    float:none;
  }
}
@media only screen and (min-width:4px) and (max-width:599px) {

  .at-mt .at-menu-toggle-button {
    position: static;
    top: 0;
  }
  .at-mt .menu-toggle {
    display: none;
  }
  .at-mt .menu-toggle ul li,
  .at-mt .menu-toggle ul li a {
    display: block;
    float:none;
  }
}
@media only screen and (min-width:600px) and (max-width:799px) {

  .at-mt .at-menu-toggle-button {
    position: absolute;
    top: -99999em;
  }
  .at-mt .menu-toggle {
    display:block !important;
  }
}
@media only screen and (min-width:800px) {

  .at-mt .at-menu-toggle-button {
    position: absolute;
    top: -99999em;
  }
  .at-mt .menu-toggle {
    display:block !important;
  }
}
.at-mt .at-menu-toggle div.contextual-links-wrapper ul.contextual-links{display:none}